
	<div class="app" id="custom-target"></div>
	<div >
		<div >
			<div >
				<div >Ingresar</div>
			</div>
			<div >
				<form >
					<div >
						<label >Email</label>
						<input type="email" name="email" id="email" placeholder="Email" />
					</div>
					<div >
						<label for="password">Contraseña</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="Contraseña"
						/>
					</div>
				</form>
				<div >
					<p>¿No tienes una cuenta? <a href="/register">Registrarse</a></p>
				</div>
			</div>
			<div >
				<div >
					<button
						class="btn add-btn"
						type="submit"
						form="login-form"
					>Ingresar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../public/js/login.js"></script>